/*
 * Your Stylesheet
 */
@blue: #1b3d6b;
@green: #d4edda;
@yellow: #fff3cd;
@orange: #ff8800;
@red: #f8d7da;
@infoblue: lighten(@blue,30%);
@paper: #fffffa;
@black: #343a40;
@text: lighten(@black,25%);

a,
a:hover {
  text-decoration: none;
}

body {
  background-color: lighten(@blue,65%);
  color: @text;
  font-family: 'Catamaran';
}

.btn.btn-link {
  padding: 0;
}

.btn-primary {
  background-color: @paper;
  border-color: @blue;
  color: @blue;
}

.btn-primary:hover {
  background-color: @blue;
  border-color: @paper;
  color: @paper
}

.card-title {
  margin-bottom: auto;
  font-weight: bold;
}

hr {
  margin: 0 20px;
}

p {
  color: @text;
}

#accordion1 {
  margin: 20px 20px 0;
}

#accordion .btn-link {
  color: @blue;
  text-decoration: none;
}

#accordion .btn-link:hover {
  color: lighten(@blue,30%);
  text-decoration: none;
}

#accordion [class*="card-body"] {
  line-height: normal;
  background-color: @paper;
  padding: -20px;
}

#announce {
  margin: 20px 20px 0;
}

#announce > .card-header {
  background-color: @infoblue;
  border-color: darken(@infoblue,30%);
  color: @paper;
}

#announce > .card-body {
  border-color: darken(@infoblue,30%);
}

#copyright {
  text-align: center;
  margin: 20px;
}

#jumbo1 {
  background-color: @blue;
  border-color: lighten(@blue,30%);
  border-style: solid;
  color: @paper;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

#maintenance {
  margin: 20px 20px 0;
}

#maintenance > .card-header {
  background-color: @yellow;
  border-color: darken(@yellow,30%);
}

#maintenance > .body {
  background-color: @paper;
  border-color: darken(@yellow,30%);
}

#maintenance [class*="card-body"] {
  line-height: normal;
  background-color: @paper;
  padding: 20px;
}

#status {
  background-color: @green;
  border-color: darken(@green, 40%);
  margin: 0 20px;
}
